{% extends 'base.html.twig' %}

{% block tabletitle %} New Traveller {% endblock %}
{% block pagetitle %} <h2>Travellers</h2> {% endblock %}
{% block body %}
    {{ include('traveler/_form.html.twig') }}

    <a href="{{ path('app_traveler_index') }}" class="btn btn-primary">back to list</a>
{% endblock %}
